<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>myfirstmap</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0h8klh3dxv"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=639cf69416ca86a612ace17a80662dd9&libraries=services"></script>
</head>
<body>
    <div id="navbar">myfirstmap</div>
    <div id="container"> 
        <div id="box-left">
            <p><img src="img/game48.png" alt="game stick image" ><br>게임</p>
            <p><img src="img/bank48.png" alt="bank image"/><br>금융</p>
            <p><img src="img/shopping48.png" alt="cart image"/><br>쇼핑</p>
            <p><img src="img/social48.png" alt="social image"/><br>소셜네트워킹</p>
            <p><img src="img/food48.png" alt="food image"><br>음식및음료</p>
            <p><img src="img/life48.png" alt="entertainment image"><br>문화</p>
            <p><img src="img/etc48.png" alt="plus image"><br>기타</p>
        </div>
        <div id="menu-wrap">
            <form onsubmit="searchPlaces(); return false;">
                키워드: <input type="text" value="" id="keyword" size=15>
                <button type="submit">검색하기</button>
              </form>
              <hr>
              <div id="placesList"></div>
        </div>

        <div id="box-right">
            <div id="infoBox">
                <div id="infoTitle">현재날짜</div>
                <div id="infoContent">2020.10.07</div>
            </div>
            <div id="map" style="width:100%;height:100vh;"></div>
        </div>
    </div>
<script type="text/javascript" src="/data/data.js"></script>

<script>
// const mapContainer = document.getElementById("box-right");
// const mapOption = {
//     center: new daum.maps.LatLng(37.554477, 126.970419),
//     level: 3,
// };

// let map = new daum.maps.Map(mapContainer, mapOption);

// let infowindow = new daum.maps.InfoWindow({
//     zIndex: 1,
// });

// let markerList = [];
// let ps = new daum.maps.services.Places();

// searchPlaces();

// function searchPlaces() {
//     let keyword = $("#keyword").val();

//     ps.keywordSearch(keyword, placesSearchCB);
// }

// function placesSearchCB(data, status) {
//     if (status === daum.maps.services.Status.OK) {
//         displayPlaces(data);
//     }
//     else if(status === daum.maps.services.Status.ZERO_RESULT) {
//         alert("검색 결과가 존재하지 않습니다.");
//         return ;
//     }
//     else if (status === daum.maps.services.Status.ERROR) {
//         alert("검색 결과중 오류가 발생했습니다.");
//         return ;
//     }
// }

// function displayPlaces(data) {
//     // 우리가 가진 db에 있는 값인지 확인해서 있으면 출력한다.
//     let listEl = document.getElementById('placesList');
//     let bounds = new daum.maps.LatLngBounds();

//     removeAllChildNodes(listEl);
//     removeMarker();

//     for (let i = 0; i < data.length; i++) {
//         let lat = data[i].y;
//         let lng = data[i].x;
//         let address_name = data[i].address_name;
//         let place_name = data[i]["place_name"];

//         const placePosition = new daum.maps.LatLng(lat, lng);
//         bounds.extend(placePosition);

//         let marker = new daum.maps.Marker({
//             position: placePosition,
//         });
//         marker.setMap(map);
//         markerList.push(marker);

//         const el = document.createElement("div");
//         const itemStr = `
//             <div class=info>
//                 <div class="info_title">
//                  ${place_name}
//                  </div>
//                  <span>${address_name}</span>
//             </div>
//         `;

//         el.innerHTML = itemStr;
//         el.className = "item";

//         daum.maps.event.addListener(marker, "click", function() {
//             displayInfowindow(marker, place_name, address_name, lat, lng);
//         });

//         daum.maps.event.addListener(map, "click", function () {
//             infowindow.close();
//         });

//         el.onclick = function() {
//             displayInfowindow(marker, place_name, address_name, lat ,lng)
//         };

//         listEl.appendChild(el);
//     }
//     map.setBounds(bounds);
// }

// function displayInfowindow(marker, place_name, address, lat, lng) {
//     let content = `
//         <div style="padding:25px;">
//             ${place_name}<br>
//             ${address}<br>
//             <button onClick="onSubmit('${place_name}', '${address}', ${lat}, ${lng});">등록</button>
//         </div>
//     `;

//     map.panTo(marker.getPosition());
//     infowindow.setContent(content);
//     infowindow.open(map, marker);
// }

// function onSubmit(title, address, lat, lng) {
//     $.ajax({
//         url : "/location",
//         data: {title, address, lat, lng},
//         type: "POST",
//     }).done((response) => {
//         console.log("데이터 요청 성공");
//         alert("성공");
//     }).fail((error) => {
//         console.log("데이터 요청 실패");
//         alert("실패");
//     });
// }

// function removeAllChildNodes(el) {
//     while (el.hasChildNodes()) {
//         el.removeChild(el.lastChild);
//     }
// }

// function removeMarker() {
//     for(let i = 0; i < markerList.length; i++) {
//         markerList[i].setMap(null);
//     }
//     markerList = [];
// }



var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 9
};

var map = new naver.maps.Map('map', mapOptions);

var markerList = [];
var infowindowList = [];
let listEl = document.getElementById('placesList');


for (var i in data){
    var target = data[i];
    var latlng = new naver.maps.LatLng(target.lat, target.lng);
    marker = new naver.maps.Marker({
        map: map, 
        position: latlng, 
        icon : {
            content: "<div class='marker'></div>", 
            anchor : "new naver.maps.Point(12,12)"
        }
    });

    var content = `<div class='infowindow_wrap'>
    <div class='infowindow_title'>${target.company}</div>
    <div class='infowindow_content'>${target.address}</div>
    <div class='infowindow_date'>${target.date}</div>
    </div>`;

    var infoWindow = new naver.maps.InfoWindow({
        content: content, 
        backgroundColor: '#00ff0000', 
        borderColor : '#00ff0000', 
        anchorSize: new naver.maps.Size(0,0)
    });

    markerList.push(marker);
    infowindowList.push(infoWindow);

    const el = document.createElement("div");
        const itemStr = `
            <div class=info>
                <div class="info_title">
                 ${target.company}
                 </div>
                 <span>${target.address}</span>
            </div>
        `;

        el.innerHTML = itemStr;
        el.className = "item";
        listEl.appendChild(el);
}

for (var i = 0, ii=markerList.length; i < ii; i++){
    naver.maps.Event.addListener(map, "click", ClickMap(i)); /* 순서가 뒤면 아예 적용 안됨;; */
    naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i));
}

function ClickMap(i) {
    return function() {
        var infowindow = infowindowList[i];
        infowindow.close();
    }
}

function getClickHandler(i) {
    return function () {
        var marker = markerList[i]; 
        var infowindow = infowindowList[i];
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
        }
    }
}




</script>

</body>
</html>