body {
  padding: 0px !important; 
  margin: 0px !important;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr;
}

#box-left {
  background: rgb(226, 194, 185);
  text-align: center;
}

#menu-wrap {
  /* background: rgb(244, 238, 237); */
}

#box-right {

}

#icon {

}

#navbar {
  /* position: fixed; */
  height: 50px;
  width: 100%;
  z-index: 1000;
  background: #262626;
  color:white;
  font-weight:bolder;
  font-size:25px;
  display:flex; /* 안하면 뒤에 center이 하나도 안된다 */
  align-items:center; /* 세로 기준 center */
  justify-content: center; /* 가로 기준 center */
}

#infoBox {
  position:absolute;
  z-index:10000;
  top:100px;
  background: white;
  right:20px;
  padding:15px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
}

#infoTitle {
  font-size: 15px;
  font-weight:bolder;
}

.marker {
  width: 12px;
  height: 12px;
  background : green;
  border:1px solid black;
  opacity : 0.8;
  border-radius : 50%;
}

.infowindow_wrap {
  background : rgba(255,255,255, 0.8);
  padding : 20px;
  border : 1px solid rgba(0,0,0,0.2);
}

.infowindow_title {
  font-size:15px; 
  font-weight: bolder;
}

.infowindow_content {
  font-size: 13px;
  font-weight : normal;
}

.infowindow_date {
  font-size : 13px;
  font-weight : normal;
}

/* */
.info .body {
  position: relative;
  overflow: hidden;
}

.info .desc {
  position: relative;
  margin: 8px, 0, 0, 90px;
  height: 75px;
  display: block;
}

.map_wrap, .map_wrap * {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
/* */

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  margin: 50px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255,255,255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

#menu_wrap hr {
  display: block;
  height: 0.5px;
  border: 0;
  border-top: 3px solid #5f5f5f;
  margin: 3px 0;
}

#placesList .item {
  position: relative;
  border-bottom: 7px solid #888;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

#placesList .item span {
  display: block;
  margin-top: 8px;
}

#palcesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 20px;
}

#placesList .item .info_title {
  font-weight: bolder;
}
