body {
  padding: 0px !important; 
  margin: 0px !important;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

#navbar {
  height: 50px;
  width: 100%;
  background: #262626;
  color:white;
  font-weight:bolder;
  font-size:25px;
  display:flex; /* 안하면 뒤에 center이 하나도 안된다 */
  align-items:center; /* 세로 기준 center */
  justify-content: center; /* 가로 기준 center */
}

#infoBox {
  position:absolute;
  z-index:10000;
  top:100px;
  background: white;
  left:20px;
  padding:15px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  text-align: center;
}

#infoTitle {
  font-size: 15px;
  font-weight:bolder;
}
